<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill</title>
</head>
<body>
<form method="post" action="/bills/add" th:object="${bill}">
    <table>
        <tr>
            <td>Code</td>
            <td><input type="text" th:field="*{code}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input type="text" th:field="*{status}"></td>
        </tr>
        <tr>
            <td>Name User</td>
            <td>
                <select th:field="*{use.id}">
                    <option th:each ="user : ${listUsers}" th:value="${user.id}" th:text="${user.fullName}"></option>
                </select>
            </td>

        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>
<table>
    <thead>
    <tr>
        <th>Stt</th>
        <th>Code</th>
        <th>Date</th>
        <th>Total</th>
        <th>Stastus</th>
        <th>Name User</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="bill,index : ${listBills}">
        <td th:text="${index.index}"></td>
        <td th:text="${bill.code}"></td>
        <td th:text="${bill.createDate}"></td>
        <td th:text="${bill.total}"></td>
        <td th:text="${bill.status}"></td>
        <td th:text="${bill.use.fullName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>